body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

.panel {
  width: 320px;
  height: 360px;
  flex: none;
  border: 1px solid #dcdcdc;
  margin: 20px;
}

.panel-container {
  display: flex;
  flex-direction: row;
}

.panel-header {
  display: block;
  border-bottom: 1px solid #dcdcdc;
  background: #f7f7f7;
  padding: 15px;
}

.panel-content {
  display: block;
  padding: 15px 0px;
  min-height: 200px;
}

.chip-bordered-box {
  display: inline-block;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  background: #F7F7F7;
  padding: 5px;
}

.chip-close-button {
  color: #A0A0A0;
  width: 13px;
  height: 13px;
  cursor: pointer;
  margin: 4px 0 0 10px;
  float: right;
}

.chip-margin {
  margin: 0px 2px 0px 2px;
}